:root {
	--primary-color-red: hsl(1, 90%, 64%);
	--primary-color-blue: hsl(219, 85%, 26%);
	--background-cyan: #3a98a1;
	--neutral-white: hsl(0, 0%, 100%);
	--neutral-very-light-grayish-blue: hsl(210, 60%, 98%);
	--neutral-light-grayish-blue-1: hsl(211, 68%, 94%);
	--neutral-light-grayish-blue-2: hsl(205, 33%, 90%);
	--neutral-grayish-blue: hsl(219, 14%, 63%);
	--neutral-dark-grayish-blue: hsl(219, 12%, 42%);
	--neutral-very-dark-blue: hsl(224, 21%, 14%);
	--font-kumbh: 'Kumbh Sans', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-kumbh);
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

.main {
	background-image: url('../assets/bg-pattern-top.svg'), url('../assets/bg-pattern-bottom.svg');
	background-repeat: no-repeat, no-repeat;
	/* background-size: 50vw 50vw;
	background-position: top left, bottom right; */
	/* background-position: -800px -450px, 175px 300px; */
	background-position: -50vh -50vh;
	background-color: var(--background-cyan);

	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__container-pattern-top,
.main__container-pattern-bottom {
	z-index: 9999;
}

.main__container-pattern-bottom {
	align-self: flex-end;
}

.main__pattern-top,
.main__pattern-bottom {
	width: 100%;
	height: auto;
	opacity: 0.5;
}

.card {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgb(255, 255, 255);
	color: var(--neutral-very-dark-blue);
	border-radius: 15px;
}

.card__header {
	width: 100%;
	border-radius: 15px 15px 0 0;
	background-image: url('../assets/bg-pattern-card.svg');
	background-repeat: no-repeat;
	background-position: top;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 25px;
}

.container-image {
	padding-top: 5.5rem;
}

.card__image {
	width: 100%;
	border-radius: 75px;
	border: solid white 4px;
}

.card__text {
	font-size: 1.1rem;
	color: var();
}

.card__text-age {
	color: var(--neutral-dark-grayish-blue);
	font-weight: 400;
}

.card__location {
	color: var(--neutral-dark-grayish-blue);
	font-weight: 400;
	margin-bottom: 1.5rem;
}

.card__divider {
	border: 0px;
	border-top: 1px solid hsl(215, 32%, 27%);
	margin-top: 3vh;
	margin-bottom: 3vh;
	z-index: 99999;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	color: var(--neutral-very-dark-blue);
	gap: 20px;
	padding: 1rem;
	text-align: center;
	font-size: 0.8rem;
	border-top: solid var(--neutral-light-grayish-blue-2) 1px;
}

.footer__assets {
	font-size: 0.6rem;
	color: var(--neutral-dark-grayish-blue);
	letter-spacing: 1px;
	margin-top: 0.3rem;
}

@media (min-width: '750px') and (max-width: '1440px') {
	.main {
		background-position: ;
	}
}
